.cardList {
    display: flex;
    flex-wrap: wrap;
}

.categorieslists {
    display: flex;
    flex-direction: column;
    border: 1rem double red;
    background-color: rgb(255, 147, 24);
    border-radius: 8px;
    width: 25%;
    height: 25vh;
    align-items: center;
    background-image: url("/images/fondrouge.png");
}
.lists {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.trashIcon {
    align-items: flex-end;
}
