.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
}

#logo {
    height: 60px;
}

.centertext {
    background-color: #e9daccc2;
    margin-top: -5%;
    padding-right: 20px;
    text-align: center;
}

.text {
    margin-top: 20%;
    text-align: center;
}

.text1 {
    margin-left: 20%;
    text-align: center;
}

.text2 {
    text-align: center;
}
